<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="factoryMethod.customFactories" type=
      "System.Configuration.NameValueSectionHandler"/>
    <section name="concreteProducts" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <factoryMethod.customFactories>
    <add
		  key="FactoryMethod.Test.Classic.IFactory, FactoryMethod.Test"
		  value="FactoryMethod.Test.Classic.FactoryA, FactoryMethod.Test"/>
  </factoryMethod.customFactories>

  <concreteProducts>
    <add key="DEFAULT" value="MedikzWorks.PracticalPattern.FactoryMethod.ProductA, FactoryMethod"/>
    <add key="a" value="MedikzWorks.PracticalPattern.FactoryMethod.ProductA, FactoryMethod"/>
    <add key="b" value="MedikzWorks.PracticalPattern.FactoryMethod.ProductB, FactoryMethod"/>
  </concreteProducts>
</configuration>
